.page
	&_about
		.list-paragraph
			&_text-master
				max-width 500px
				margin-bottom 50px
				.list-paragraph
					&__item
						padding 5px 0
						
@media phone
	.page
		&_about
			.list-paragraph
				&_text-master
					padding 20px
					text-align left
