@font-face
	font-family RobotoCondensedBold
	src url(../font/RobotoCondensed/roboto-condensed.bold.ttf)
	
@font-face
	font-family RobotoCondensedItalic
	src url(../font/RobotoCondensed/roboto-condensed.italic.ttf)
	
@font-face
	font-family RobotoCondensedBoldItalic
	src url(../font/RobotoCondensed/roboto-condensed.bold-italic.ttf)

@font-face
	font-family RobotoCondensedLight
	src url(../font/RobotoCondensed/roboto-condensed.light.ttf)

@font-face
	font-family RobotoCondensedLightItalic
	src url(../font/RobotoCondensed/roboto-condensed.light-italic.ttf)

@font-face
	font-family RobotoCondensedRegular
	src url(../font/RobotoCondensed/roboto-condensed.regular.ttf)
	
body
	font-family arial, helvetica, sans-serif
	color #000

a
	text-decoration none
	outline none
	&:hover
		color corpColor
	&:focus
		color rgba(0, 0, 0, 0)
	&:active
		color rgba(0, 0, 0, 0)
	&:link
		color rgba(0, 0, 0, 0)
img
	border 0
	
.page
	position relative
	
.container
	max-width 960px
	margin 0 auto
	

.slick-next::before
.slick-prev::before
	color rgba(0, 0, 0, .3)