.page
	&_about
		.array-word
			&_name-master
				.array-word
					&__item_1
						font-size 20px
						padding-top 10px
					&__item_2
						font-size 30px
						font-style italic
						padding-top 10px
						
		.array-word
			&_title-text-master
				margin-bottom 20px
				.array-word
					&__item_1
						font-weight: bold;
						font-size: 50px;
					&__item_2
						padding-top 10px
						font-size 30px
						
.footer
	.array-word
		&_feedback
			.array-word
				&__item_1
					font-size 20px
					padding-top 10px
				&__item_2
					font-size 30px
					font-style italic
					padding-top 10px
					
@media tablet
	.page
		&_about
			.array-word
				&_title-text-master
					text-align center
					
@media phone
	.page
		&_about
			.array-word
				&_name-master
					margin-bottom 50px
					
			.array-word
				&_title-text-master
					.array-word
						&__item_1
							font-size: 40px;
						&__item_2
							font-size 20px