include header/header
include footer/footer

include page_home/page_home
include page_gallery/page_gallery
include page_service/page_service
include page_about/page_about

include nav/nav
include title-page/title-page
include array-word/array-word
include img-box/img-box
include list-link-img/list-link-img
include list-array-word/list-array-word
include list-name-link/list-name-link
include list-paragraph/list-paragraph
include list-img/list-img
include list-img-nobox/list-img-nobox