@require 'page_home/page_home.styl'
@require 'page_gallery/page_gallery.styl'
@require 'page_service/page_service.styl'
@require 'page_about/page_about.styl'

@require 'header/header.styl'
@require 'footer/footer.styl'

@require 'title-page/title-page.styl'
@require 'nav/nav.styl'
@require 'list-name-link/list-name-link.styl'
@require 'img-box/img-box.styl'
@require 'list-link-img/list-link-img.styl'
@require 'list-array-word/list-array-word.styl'
@require 'array-word/array-word.styl'
@require 'list-paragraph/list-paragraph.styl'
@require 'list-img/list-img.styl'