.header
	.list-name-link
		&_feedback
			position absolute
			right 10px
			top 0
			color #fff
			.list-name-link
				font-size 16px
				&__name
					display inline-block
					padding-right 10px
					font-style italic
				&__link
					color #fff
				&__item
					&::before
						display inline-block
						position relative
						top 12px
						right 8px
						content ""
						background url("../img/phone.png") no-repeat
						width 32px
						height 32px

.page
	&_about
		.list-name-link
			font-size 20px
			margin-bottom 50px
			&__item
				margin-bottom 5px
			&__name
				display inline-block
			&__link
				display inline-block
				padding-left 5px
			&__item_1
				.list-name-link__link
					color corpColor
					&:hover
						color #808080
			&__item_2
				.list-name-link__link
					color #808080
					&:hover
						color corpColor
						
.footer
	.list-name-link
		&_feedback
			font-style italic
			margin-bottom 10px
			position relative
			.list-name-link
				&__name
					display inline-block
					padding-right 10px
				&__link
					display inline-block
					color #fff
				&__item
					&::before
						display inline-block
						position relative
						top 12px
						right 8px
						content ""
						background url("../img/phone.png") no-repeat
						width 32px
						height 32px
						
@media (max-width 350px)
	.header
		.list-name-link
			&_feedback
				display none
