.page
	&_home
		.img-box
			&_logo
				width 40%
				margin 0 auto
				margin-bottom 70px
				.img-box
					&__img
						width 100%
						
.page
	&_about
		.img-box
			&_photo-master
				max-width 360px
				max-height 360px
				.img-box
					&__img
						border-radius 50%
						width 100%
						
@media phone
	.page
		&_home
			.img-box
				&_logo
					width 80%
					margin-bottom 50px