include  ../../node_modules/bemto.pug/bemto
include  ../block/index

doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes")
		link(rel="shortcut icon", href="img/favicon.ico")
		title Анна Хрущь - Свадебные прически
	body
		block main
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css")
		link(rel="stylesheet", href="vendor/fotorama/fotorama.css")
		link(rel="stylesheet", href="vendor/slick/slick.css")
		link(rel="stylesheet", href="vendor/slick/slick-theme.css")
		link(rel="stylesheet", href="css/anna-hruch.css?v=9")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js")
		script(src="vendor/fotorama/fotorama.js")
		script(src="vendor/slick/slick.min.js")
		script(src="js/anna-hruch.js?v=31")
